$bg-nav: #FFF;
$bg-primary: #03faee;
$bg-secondary: #f8f8f8;
$color-primary: #8b8b8b;
$shadow: #92f7f2;
$scroll1: #69a1ac;
$scroll-bg: #afb9c5;

$font-family-body: Arial, Helvetica, sans-serif;
$font-family-h2: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;